bokeh==0.12.5
certifi==2017.4.17
chardet==3.0.4
idna==2.5
Jinja2==2.9.6
MarkupSafe==1.0
numpy==1.12.1
openssl==1.0.l  
pandas==0.20.1
pip==9.0.1
python==3.6.1
python-dateutil==2.6.0
pytz==2017.2
PyYAML==3.12
readline==6.2
requests==2.18.1
setuptools==27.2.0
six==1.10.0
sqlite==3.13.0
tk==8.5.18
tornado==4.4.2
urllib3==1.21.1
wheel==0.29.0
xlrd==1.0.0
xz==5.2.2
zlib==1.2.8
